  input{
    height: 0.8rem;
    border:none;
   }
   #sign,#login{
    font-size: 0.32rem;
    text-align: center;
   }
  .logo{
    margin:1rem 0 0.4rem;
  }
  .inputbox{
    width:85%;
    border:1.5px solid #d0b57c;
    border-radius: 5px;
    margin:0.6rem auto;
    padding:0 0.2rem;
    text-align: left;
  }
  .inputbox img{
    width:0.4rem;
    height: 0.4rem;
  }
  .inputbox p{
    height: 0.9rem;
    line-height: 0.9rem;
    display: flex;
    align-items: center;
  }
  .inputbox p span{
    color:#d0b57c;
    font-size: 0.28rem;
  }
  .inputbox p:not(:last-child) {
    border-bottom: 1px solid #D0B57C;
}
  .inputbox input{
    flex:2;
    padding-left: 0.12rem;
  }
  .loginbtn,.signbtn{
    width:85%;
    font-size: 0.32rem;
    background: #d0b57c;
    color:#fff;
    letter-spacing: .12rem;
    border-radius: .12rem;
    height: 0.8rem;
    border:none;
  }
  .forget{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin:0 auto;
    margin-top:.6rem;
    font-size: .28rem;
  }
  .bottom{
    position: absolute;
    bottom:0.3rem;
    left:0;
    right:0;
    margin:auto;
    color:#999;
    font-size: .28rem;
  }

  .forget a,.bottom a{
    color:#d0b57c;
  }